{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">RESULTADO BUSQUEDA DE CLIENTES</h1>
{% endblock %}

{% block contenido_seccion %}
<h1 class="text-white row justify-content-center">RESULTADO BUSQUEDA DE CLIENTES</h1>
{% endblock %}

{% block contenido_que_cambia %}

    {% if clientes %}
    <ul>
        {% for cliente in clientes %}
        <left>
            <li>
            NOMBRE: <i>{{cliente.nombre}}</i> <br>
            PAIS: <i>{{cliente.pais}}</i> <br>
            EMAIL: <i>{{cliente.email}}</i> <br>
            TELEFONO: <i>{{cliente.telefono}}</i> <br>
            </li>
        </left>
            <br>
        {% endfor %}
    </ul>
    {% else %}
        <h1 class="row justify-content-center">No hay clientes de ese pais!!!</h1>

    {% endif %}

    <a href="{% url 'clienteslist' %}" class="btn btn-primary">Volver</a>
    
{% endblock %}